<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.itheima.service"/>

	<!--启动dubbo服务会占用改端口-->
	<dubbo:protocol port="20880"/>
	<!--dubbo的配置-->
	<!--1.配置的项目的名称,唯一-->
	<dubbo:application name="dubbo-service">
		<dubbo:parameter key="qos.port" value="33333"/>
	</dubbo:application>
	<!--2.配置注册中心的地址-->
	<dubbo:registry address="zookeeper://8.130.41.32:2181"/>
	<!--配置dubbo包扫描-->
	<dubbo:annotation package="com.itheima.service.impl"/>
</beans>